body {
  background-color: #3C3963;
}

.bg {
  width: 100%;
  height: 220px;
  display: block;
  background: url(//ptcdn.info/doodle/2018/pantip-2018.png) no-repeat center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 40%;
}

.search-button {
  margin-right: 10px;
}

.headline {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #EEE;
}

.ant-input {
  background-color: #43416c;
  color: #FFFFFF; 
}