body {
  background-color: #3C3963;
  font-family: Arial, Helvetica, Sans-serif, Geneva, Tahoma;
  overflow-x: hidden;
}

.bg {
  width: 100%;
  height: 220px;
  display: block;
  background: url(//ptcdn.info/doodle/2018/pantip-2018.png) no-repeat center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 60%;
  margin: 0 auto;
}

.search-button {
  margin-right: 10px;
}

.headline {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #EEE;
  text-align: center;
}

.input {
  background-color: #43416c;
  color: #FFFFFF; 
}